<h1>Todo List Detail</h1>

<p>
  <strong>Title:</strong> 
  <%= @todo_list.title %>
</p>
<p>
  <strong>Description:</strong> 
  <%= @todo_list.description %>
</p>

<div>
  <%= render @todo_list.todo_items %>
</div><br/>
<div>
  <strong>Add New Todo Items</strong> 
  <%= render 'todo_items/form' %>
</div><br/>

<%= link_to 'Home', todo_lists_path %> |
<%= link_to 'Edit', edit_todo_list_path(@todo_list) %>
